<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>Ticketac - My tickets</title>
</head>
<body>
<!-- NAVIGATION -->
<%- include('navbar'); %>

    <div class="container-fluid">
        <div class="d-flex flex-column">

            <div class="col-12 col-sm-6 mr-5 text-center">
            
                <div class="formArea mt-5 mb-3 ms-5" style="width:300px;">
                    <h4 class="titleForm text-white">My tickets :</h4>
                </div>
            </div>
            <%
            if(dataJourney.length > 0) {
            %>
            <table class="table table-light table-borderless">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Journey</th>
                        <th scope="col">Date</th>
                        <th scope="col">Departure Time</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                    let totalCmd = 0;
                    for(let i = 0; i < dataJourney.length; i++) {
                    totalCmd += parseInt(dataJourney[i].price);
                    %>
                    <tr>
                        <th scope="row"><%= i + 1 %></th>
                        <td><%= dataJourney[i].departure %> / <%= dataJourney[i].arrival %></td>
                        <td><%= dataJourney[i].date %></td>
                        <td><%= dataJourney[i].departureTime %></td>
                        <td><%= dataJourney[i].price %> €</td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot>
                    <tr class="table-danger">
                        <th scope="row">Total</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><%= totalCmd %> €</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <button type="submit" class="btn btn-danger float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">Checkout</button>
        <% } else { %>
        <h3 class="text-warning fst-italic text-center">No tickets to display</h3>
        <% }; %>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-light table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Journey</th>
                                <th scope="col">Date</th>
                                <th scope="col">Departure Time</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%
                            let totalCmd2 = 0;
                            for(let i = 0; i < dataJourney.length; i++) {
                            totalCmd2 += parseInt(dataJourney[i].price);
                            %>
                            <tr>
                                <th scope="row"><%= i + 1 %></th>
                                <td> <%= dataJourney[i].departure %> / <%= dataJourney[i].arrival %>
                                </td>
                                <td><%= dataJourney[i].date %></td>
                                <td><%= dataJourney[i].departureTime %></td>
                                <td><%= dataJourney[i].price %> €</td>
                            </tr>
                            <% } %>
                        </tbody>
                        <tfoot>
                            <tr class="table-danger">
                                <th scope="row">Total</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><%= totalCmd2 %> €</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="/add-order"><button type="submit" class="btn btn-danger float-end">Confirm order</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
        </script>
</body>
</html>