<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <title>Ticketac - Results</title>
</head>

<body class="d-flex justify-content-center">

    <!-- NAVIGUATION -->
    <%- include('navbar'); %>

    <div class="container3 d-flex flex-column align-items-center">
        <div class="mt-5 mb-3 me-0">
            <h4 class="maurine text-white">Tickets available on <%= dateFr %>:</h4>
        </div>

        <%
        for( let i = 0; i < itineraire.length; i++) {
        %>
        <div class="row ticket bg-light w-100 mb-3">
            <div class="col-4">
                <h6><strong><%= itineraire[i].departure %> / <%= itineraire[i].arrival %></strong></h6>
            </div>
            <div class="col-5 info">
                <span class="p">train departure at <%= itineraire[i].departureTime %></span>
            </div>
            <div class="col-1">
                <h6><strong><%= itineraire[i].price %>€</strong></h6>
            </div>
            <div class="col-2">
                <a href="/basket?cityDeparture=<%= itineraire[i].departure %>&cityArrival=<%= itineraire[i].arrival %>&departureTime=<%= itineraire[i].departureTime %>&dateJourney=<%= itineraire[i].date %>&price=<%= itineraire[i].price %>"><button type="submit" class="btn btn-danger">OK</button></a>
            </div>
        </div>
        <% } %>
    </div>



</body>

</html>